/TODO agregar distintas cartas según la información disponible
.jumbotron.text-center
  %h1 Fuentes de noticias
- @sources.each do |source|
  .card-box.col-md-4.col-sm-6
    .card{"data-background" => "image"}
      .header
        .actions
          = link_to source do
            %button.btn.btn-round.btn-fill.btn-neutral.btn-modern
              Ver fuente
      .content
        %h6.category
          = source.url
        %h4.title.title-uppercase
          = source.name
        %p.description
          = source.description
      .filter
    / end card
