.wrapper
  .container
    .masonry-container
      .card-box.col-md-4.col-sm-6
        .card.card-with-border.card-just-text{"data-background" => "color", "data-color" => "black"}
          .content
            %h4.title
              "In the end we only
              %b regret
              the chances we didn't take."
            %p.description - Hipster Quote
        / end card
      .card-box.col-md-4.col-sm-6
        .card
          .header
            %img{:src => "assets/img/lifestyle-8.jpg"}/
            .filter
            .actions
              %button.btn.btn-round.btn-fill.btn-neutral.btn-modern
                Read Article
          .content
            %h6.category News
            %h4.title
              %a{:href => "#"} Try the new hairstyle from this Barber Shop
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
        / end card
      .card-box.col-md-4.col-sm-6
        .card{"data-background" => "image", "data-src" => "assets/img/lifestyle-1.jpg"}
          .header
            .category
              %h6.label.label-danger Hipster Tag
          .content
            %h4.title.title-uppercase
              %a{:href => ""} Here can be your special title for this card
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
          .filter
        / end card
      .card-box.col-md-4.col-sm-6
        .card
          .content
            %h6.category Best stories
            %h4.title
              %a{:href => "#"} This is a plain Hipster Card, see for yourself
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
        / end card
      .card-box.col-md-4.col-sm-6
        .card
          .header
            %img{:src => "assets/img/beard-1.jpg"}/
            .social-line.social-line-visible{"data-buttons" => "4"}
              %button.btn.btn-social.btn-facebook
                %i.fa.fa-facebook
              %button.btn.btn-social.btn-twitter
                %i.fa.fa-twitter
              %button.btn.btn-social.btn-pinterest
                %i.fa.fa-pinterest
              %button.btn.btn-social.btn-google
                %i.fa.fa-google-plus
          .content
            %h6.category News
            %h4.title Use this card and see what you can achive
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
        / end card
      .card-box.col-md-4.col-sm-6
        .card{"data-background" => "image", "data-src" => "assets/img/lifestyle-2.jpg"}
          .header
            .category
              %h6.label.label-warning Trending Post
            .social-line{"data-buttons" => "3"}
              %button.btn.btn-social.btn-facebook
                %i.fa.fa-facebook-square
                Share
              %button.btn.btn-social.btn-twitter
                %i.fa.fa-twitter
                Tweet
              %button.btn.btn-social.btn-pinterest
                %i.fa.fa-pinterest
                Pin
          .content
            %h4.title Tobias Van Schneider is a German designer raised in Austria...
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security.
          .filter
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-with-border{"data-background" => "image", "data-src" => "assets/img/fashion-1.jpg"}
          .header
          .content.text-center
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
          .footer.text-center
            %a.btn.btn-danger.btn-fill.btn-round{:href => "#"} Read article
          .filter
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-just-text.card-with-border{"data-background" => "image", "data-src" => "assets/img/lifestyle-9.jpg"}
          .content
            %h4.title.title-modern "I liked nutella, triangles and outerspace way before hipsters."
            %p.description - Not A Hipster
          .filter
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-with-border{"data-background" => "color", "data-color" => "azure"}
          .header
            .icon
              %i.pe-7s-radio
          .content.text-center
            %h4.title.title-modern Nicecream.fm
            %p.description Best vibes in the marketplace. Listen to the best music from '89. I feel like Nicecream and .fm do just that.
          .footer.text-center
            %button.btn.btn-neutral.btn-round.btn-fill.btn-modern Listen Now!
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-with-border{"data-background" => "color", "data-color" => "orange"}
          .content
            %h6.category Hot Article
            %h4.title
              %a{:href => "#"} Try the new hairstyle from this Barber Shop
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
        / end card
      .card-box.col-md-4.col-sm-6
        .card.text-center{"data-background" => "image", "data-src" => "assets/img/city-2.png"}
          %h4.title.title-modern Hipster Vacation
          .content
            .price
              %h6 From
              %h4
                2.799
                %b.currency $
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security.
          .filter
          .footer.btn-center
            %button.btn.btn-neutral.btn-round.btn-fill Book Now!
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-with-border
          .header
            .icon
              %i.pe-7s-glasses
          .content.text-center
            %h4.title.text-center Hipster Glasses App
            %p.description Here can be a description about the application that is for download. I feel like this app is what I need.
          .footer.btn-center
            %button.btn.btn-default.btn-round.btn-fill.btn-info.btn-modern Download
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-just-text.card-with-border{"data-background" => "image", "data-src" => "assets/img/music-3.jpg"}
          .content
            .filter.filter-red
            %h4.title.title-modern
              "I like the way you work it
              No diggity, I gotta bag it up."
            %p.description - Chet Faker
          .filter
        / end card
      .card-box.col-md-4.col-sm-6
        .card.card-with-border{"data-background" => "color", "data-color" => "green"}
          .header
            .icon
              %i.pe-7s-gift
            .social-line{"data-buttons" => "3"}
              %button.btn.btn-social.btn-facebook
                %i.fa.fa-facebook
              %button.btn.btn-social.btn-twitter
                %i.fa.fa-twitter
              %button.btn.btn-social.btn-pinterest
                %i.fa.fa-pinterest
          .content.text-center
            %p.description
              Your friend
              %b Michael Osborn
              has sent you a hipster gift card.
            %br/
          .footer.btn-center
            %button.btn.btn-neutral.btn-fill.btn-modern View Gift Details
        / end card
      .card-box.col-md-4.col-sm-6
        .card{"data-background" => "color", "data-color" => "black"}
          .header
            %img{:src => "assets/img/home-1.jpg"}/
            .social-line{"data-buttons" => "2"}
              %button.btn.btn-social
                %i.fa.fa-facebook-square
                Share
              %button.btn.btn-social
                %i.fa.fa-twitter
                Tweet
          .content
            %h6.category Interior Design
            %h4.title
              %a{:href => "#"} Hipster Apartment sold for $1.2 mil.
            %p.description When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
        / end card
      .card-box.col-md-4.col-sm-6
        .card.text-center{"data-background" => "image", "data-src" => "assets/img/city-1.jpg"}
          %h4.title.title-modern Hipster City
          .content
            .price
              %h6 From
              %h4
                1.499
                %b.currency $
          .footer.btn-center
            %button.btn.btn-neutral.btn-round.btn-modern Buy Ticket
          .filter.filter-blue
        / end card
/ end wrapper
