default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5

development:
  <<: *default
  database: TuConstituyes_development

test:
  <<: *default
  database: TuConstituyes_test

production:
  adapter: postgresql
  encoding: unicode
  username: postgres
  database: TuConstituyes_production
  pool: 5
  host: db
  port: 5432
  timeout: 5000
