.card-box.col-md-4.col-sm-6
        .card
          .content
            %h6.category locals[:news_item].source.name
            %h4.title
              = link_to locals[:news_item].title , locals[:news_item].url 
            %p.description 
            -if locals[:news_item].body.length > 100
         	  = locals[:news_item].body[0..100] + "..."
            -else
              = locals[:news_item].body
        / end card