// Place all the styles related to the NewsItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
	padding: 12px;
	max-width: none;
	line-height: normal;
	h5{
		font-size: 10px;
	}
	.title{
		display:flex;
		align-items: flex-end;
		opacity: 0.5;
		height: 40%;
		z-index: 2;
		h2{
			z-index: 1;
			opacity: 1;
			font-weight: 700;
			font-size: 15px;
		}
	}
	.tags{
		padding: 15px
	}
}